chatbot.json
[{"id":"bdc9b1c8.026aa","type":"tab","label":"chat bot","disabled":false,"info":""},{"id":"bc568c8.ca27d7","type":"ui_form","z":"bdc9b1c8.026aa","name":"","label":"","group":"1f4b2143.02280f","order":1,"width":0,"height":0,"options":[{"label":"input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":100,"wires":[["d9a667ce.e4d788"]]},{"id":"d9a667ce.e4d788","type":"function","z":"bdc9b1c8.026aa","name":"input parsing","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["274ca074.25003","86bbcb4.fa1f738"]]},{"id":"274ca074.25003","type":"ui_text","z":"bdc9b1c8.026aa","group":"1f4b2143.02280f","order":2,"width":0,"height":0,"name":"","label":"user input","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":100,"wires":[]},{"id":"86bbcb4.fa1f738","type":"watson-conversation-v1","z":"bdc9b1c8.026aa","name":"Wind bot","workspaceid":"51fcf7f7-538a-4c50-96ee-1eba7c84f6a2","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/254c8060-980d-4ee6-9dfe-c9b9d2d33efb","timeout":"","optout-learning":false,"x":340,"y":180,"wires":[["65ded613.5c0d58","5f349222.d1290c"]]},{"id":"65ded613.5c0d58","type":"debug","z":"bdc9b1c8.026aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":180,"wires":[]},{"id":"5f349222.d1290c","type":"function","z":"bdc9b1c8.026aa","name":"output","func":"if(msg.payload.output.generic[0].response_type==\"image\"){    \n    msg.url=msg.payload.output.generic[0].source \n    msg.payload = msg.payload.output.generic[0].title +\"\\n\"+msg.payload.output.generic[0].description\n}\nelse{\n    msg.payload=msg.payload.output.generic[0].text    \n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["47788c32.dc0ed4","64af277.4550bd8"]]},{"id":"64af277.4550bd8","type":"ui_text","z":"bdc9b1c8.026aa","group":"1f4b2143.02280f","order":3,"width":"0","height":"0","name":"","label":"Response","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":260,"wires":[]},{"id":"3042e7ac.f48688","type":"ui_audio","z":"bdc9b1c8.026aa","name":"","group":"1f4b2143.02280f","voice":"en-US","always":"","x":680,"y":340,"wires":[]},{"id":"47788c32.dc0ed4","type":"ui_template","z":"bdc9b1c8.026aa","group":"1f4b2143.02280f","name":"","order":2,"width":"6","height":"7","format":"<img ng-src={{msg.url}} alt=\"Image\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":500,"y":340,"wires":[["3042e7ac.f48688"]]},{"id":"1f4b2143.02280f","type":"ui_group","z":"","name":"Chat Bot","tab":"c3eebe28.0e9cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"c3eebe28.0e9cc","type":"ui_tab","z":"","name":"pro chat","icon":"dashboard","disabled":false,"hidden":false}]