flows.json
[{"id":"863bc324.92186","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f9bc3257.63bbb","type":"function","z":"863bc324.92186","name":"PreToken","func":"global.set(\"ws\",msg.payload.ws)\nglobal.set(\"nor\",msg.payload.nor)\nvar apikey=\"HaoOMcNDnl5JJ-z9BmsJ6_dB8SIgjDsqQfzF1KTz97QB\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":320,"wires":[["a8565569.f6f568"]]},{"id":"a8565569.f6f568","type":"http request","z":"863bc324.92186","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":320,"wires":[["3c353393.4df83c","2e94399f.bd5f66"]]},{"id":"c33e2325.e59b6","type":"inject","z":"863bc324.92186","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":280,"wires":[["f9bc3257.63bbb"]]},{"id":"364e7cbb.163064","type":"debug","z":"863bc324.92186","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":320,"wires":[]},{"id":"3c353393.4df83c","type":"function","z":"863bc324.92186","name":"Pre Prediction","func":"var ws = global.get('ws')\nvar nor = global.get('nor')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"wind speed(km/hr)\",\"Number of rotations(RPM)\"], \"values\": [[ws,nor]]}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":320,"wires":[["969b833a.2af6c"]]},{"id":"969b833a.2af6c","type":"http request","z":"863bc324.92186","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ef7614fd-0e44-4b95-ada2-d1da00c3d590/deployments/80d1e9a3-7455-4b1c-aca3-596d42f06964/online","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":320,"wires":[["2ed527d8.69ba28","cf34975e.d8c788"]]},{"id":"8bab7c42.7f87b","type":"ui_form","z":"863bc324.92186","name":"","label":"","group":"37372c3f.416a74","order":0,"width":0,"height":0,"options":[{"label":"Enter the windsped","value":"ws","type":"number","required":true,"rows":null},{"label":"Enter of number of rotations","value":"nor","type":"number","required":true,"rows":null}],"formValue":{"ws":"","nor":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["f9bc3257.63bbb"]]},{"id":"4eb27ea7.b66c4","type":"ui_text","z":"863bc324.92186","group":"37372c3f.416a74","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":420,"wires":[]},{"id":"2ed527d8.69ba28","type":"function","z":"863bc324.92186","name":"","func":"var a=msg.payload.values[0][0]*100\nif(a>90)\n{\n    msg.payload=\"This Place is Highly recommended\";\n}\nelse if(a>70 &&a<90)\n{\n    msg.payload=\"This Place is recommended\";\n}\nelse\n{\n    msg.payload=\"This Place is not recommended\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":320,"wires":[["364e7cbb.163064","4eb27ea7.b66c4"]]},{"id":"cf34975e.d8c788","type":"debug","z":"863bc324.92186","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":220,"wires":[]},{"id":"2e94399f.bd5f66","type":"debug","z":"863bc324.92186","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":440,"wires":[]},{"id":"37372c3f.416a74","type":"ui_group","z":"","name":"Default","tab":"e525cca8.6dd0a","order":1,"disp":true,"width":"6","collapse":false},{"id":"e525cca8.6dd0a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]